package main;
import utils.GameCharacters;
import java.util.Scanner;
import java.util.Random;

public class Driver {

    private static Scanner myinput = new Scanner(System.in);
    private static boolean life = true;
    private static boolean gameRunning = true;

    private static GameCharacters pCharacter = new GameCharacters();
    private static GameCharacters monster1 = new GameCharacters();

    private static Random diceRoll = new Random();

    public static void main (String[] args){

        System.out.println("Welcome to tutorial");
        charCreate();
        System.out.printf("Welcome %s. Lets begin\n", pCharacter.getName());


    }

    public static void charCreate() {
        monster1.setName("Zombie");
        monster1.setCharType("Monster");
        monster1.setHealth(10);
        System.out.println("Whats your name");
        pCharacter.setName(myinput.nextLine());
        pCharacter.setCharType("Human");
        pCharacter.setHealth(20);

    }

    public static void combat(GameCharacters human, GameCharacters monster){
        int tempHealthHuman, tempHealthMonster;
        int humanAttackroll, monsterAttackRoll;
        boolean flee = false;
        boolean fightOn = true;

        while(fightOn){
            System.out.println("What would you like to do");
            System.out.println("[f]ight\n[r]un");
            String choice = myinput.nextLine().toLowerCase();

            switch (choice){
                case "f":
                    //human attack
                    System.out.printf("You attempt to hit the %s\n", monster.getName());
                    humanAttackroll = diceRoll.nextInt(6); //roll from 0-5
                    if(humanAttackroll <=0){
                        System.out.printf("You failed to hit the %s\n", monster.getName());

                    }
                    else{
                        System.out.printf("You hit the %s for %d\n", monster.getName(), humanAttackroll);
                        tempHealthMonster = monster.getHealth() - humanAttackroll;
                        monster.setHealth(tempHealthMonster);

                    }
                    //check if monster dead before chance to attack
                    if(monster.getHealth() <=0){
                        System.out.println("You slain the Grunt");
                        fightOn = false;
                        System.out.println("You won in the beginner fight");
                        gameRunning = false;
                    }

                    //Monster attack
                    System.out.printf("The %s attempts to hit you\n", monster.getName());
                    monsterAttackRoll = diceRoll.nextInt(6);
                    if(monsterAttackRoll <= 0){
                        System.out.printf("The %s failed to hit you\n", monster.getName());

                    }
                    else{
                        System.out.printf("The %s hit you for %d\n", monster.getName(), monsterAttackRoll);
                        tempHealthHuman = human.getHealth() - monsterAttackRoll;
                        human.setHealth(tempHealthHuman);
                    }
                    break;

                case "r":
                    flee = diceRoll.nextBoolean();
                    if (flee){
                        System.out.println("You fled the battle");
                        fightOn = false;
                        gameRunning = false
                    }

            }

        }


    }
}
